body {
    background-color: #262626;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
a {
    text-decoration: none;
    color: white;
}
.header {
    overflow: hidden;
    width: 100%;
    background-color: #1d1d1d;
    top: 0;
    height: 70px;
    border-bottom: white solid 1px;
}
.paragraf {
    font-size: 20px;
    margin: 25px;
}
h1 {
    float: left;
    padding: 12px;
    font-size: 40px;
    margin: 0;
}
.navigation {
    display: block;
    position: fixed;
    top: 100px;
    background-color: #1d1d1d;
    float: left;
    width: 200px;
    bottom: 100px;
    border: white solid 1px;
    border-left: none;
}
ul {
    list-style-type: none;
}
li {
    margin: 3px;
    font-size: 18px;
}
.content {
    position: fixed;
    width: auto;
    top: 100px;
    left: 240px;
    right: 20px;
    bottom: 100px;
    display: block;
    background-color: #1d1d1d;
    overflow: hidden;
    border: white solid 1px;
}
table {
    margin: auto;
    font-size: large;
}
th, td {
    border: 1px solid white;
    padding: 14px 30px 14px 30px;
    background-color: #2e2e2e;
    text-align: center;
}
footer {
    background-color: #121212;
    display: block;
    position: fixed;
    bottom: 0;
    height: 75px;
    width: 100%;
}
.footer_text {
    text-align: center;
    margin-top: 30px;
}